
.header-bg {
    background-color: #000000;
    background-image: url("../images/blurred_bg_01.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}
::placeholder{
    color: #FFFFFF!important;
}
.top-bar ul>li a:not(.button){
    font-weight: normal;
}
#header, #header .form-header .lead, #header label {
    color: #ffffff;
}

#header a:not(.button), div#main .widgets-container.sidebar_location .form-search a:not(.button), .form-search.custom input[type="text"], .form-search.custom input[type="password"], .form-search.custom select {
    color: #ffffff;
}

#header a:not(.button):hover, #header a:not(.button):focus {
    color: #ffffff;
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active, .top-bar ul > li:not(.name):focus {
    background: #743349;
}

#header .top-bar ul > li:hover:not(.name) a {
    color: #ffffff
}

;
.top-bar ul > li:not(.name):hover a, .top-bar ul > li:not(.name).active a, .top-bar ul > li:not(.name):focus a {
    color: #ffffff;
}

.top-bar ul > li.has-dropdown .dropdown:before {
    border-color: transparent transparent #743349 transparent;
}

.top-bar ul > li.has-dropdown .dropdown li a {
    color: #ffffff;
    background: #743349;
}

.top-bar ul > li.has-dropdown .dropdown li a:hover, .top-bar ul > li.has-dropdown .dropdown li a:focus {
    background: #92425d;
}

.top-bar ul > li.has-dropdown .dropdown li.has-dropdown .dropdown:before {
    border-color: transparent #743349 transparent transparent;
}

.lt-ie9 .top-bar section > ul > li a:hover, .lt-ie9 .top-bar section > ul > li a:focus {
    color: #ffffff;
}

.lt-ie9 .top-bar section > ul > li:hover, .lt-ie9 .top-bar section > ul > li:focus {
    background: #743349;
}

.lt-ie9 .top-bar section > ul > li.active {
    background: #743349;
    color: #ffffff;
}

#breadcrumbs-wrapp {
    background: #743349;
}

#breadcrumbs-wrapp, ul.breadcrumbs li:before {
    color: #f0f0f0;
}

#breadcrumbs-wrapp a {
    color: #ffffff;
}

#breadcrumbs-wrapp a:hover, #breadcrumbs-wrapp a:focus {
    color: #92425d;
}

.kleo-page {
    background: #ffffff;
}

div#main {
    color: #777777;
}

a:not(.button), div#main a:not(.button):not(.elementor-button), #header .form-footer a:not(.button) {
    color: #333333;
}

div#main a:not(.button):not(.elementor-button):hover, a:not(.button):not(.elementor-button):hover, a:not(.button):focus, div#main a:not(.button):focus {
    color: #92425d;
}

div#main .widgets-container.sidebar_location {
    color: #777777;
}

div#main .widgets-container.sidebar_location a:not(.button) {
    color: #666666;
}

div#main .widgets-container.sidebar_location a:not(.button):hover, div#main a:not(.button):focus {
    color: #92425d;
}


h1 {
    font: normal 46px 'Lato';
    color: #222222;
}

h2 {
    font: normal 30px 'Lato';
    color: #222222;
}

h3 {
    font: normal 26px 'Lato';
    color: #222222;
}

h4 {
    font: normal 20px 'Open Sans';
    color: #222222;
}

h5 {
    font: normal 17px 'Open Sans';
    color: #222222;
}

h6 {
    font: normal 14px 'Open Sans';
    color: #222222;
}

body, p, div {
    font: normal 13px 'Open Sans';
}

.form-search, .form-header, div.alert-box, div.pagination span.current {
    background: #743349
}

.top-links, .top-links a, .circular-progress-item input, .ajax_search_image .icon {
    color: #743349;
}

.form-search .notch {
    border-top: 10px solid #743349;
}

.form-search.custom div.custom.dropdown a.current, .form-search.custom input[type="text"], .form-search.custom input[type="password"], .form-search.custom select {
    background-color: #92425d;
}

.form-search.custom div.custom.dropdown a.selector, .form-search.custom div.custom.dropdown a.current, .form-search.custom select {
    border: solid 1px #92425d;
}

.form-search.custom input[type="text"], .form-search.custom input[type="password"] {
    border: 1px solid #743349
}

.form-header, div.alert-box {
    color: #ffffff
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background-color: #92425d;
}

.form-search {
    border-left: 10px solid rgba(146, 66, 93, 0.3);
    border-right: 10px solid rgba(146, 66, 93, 0.3);
}

.form-header {
    border-left: 10px solid rgba(146, 66, 93, 0.3);
    border-top: 10px solid rgba(146, 66, 93, 0.3);
    border-right: 10px solid rgba(146, 66, 93, 0.3);
}

.tabs.pill.custom dd.active a, .tabs.pill.custom li.active a, div.item-list-tabs ul li a span, #profile .pmpro_label {
    background: #743349;
    color: #ffffff;
}

.tabs.pill.custom dd.active a:after {
    border-top: 10px solid #743349
}

.tabs.info dd.active a, .tabs.info li.active a, #object-nav ul li.current a, #object-nav ul li.selected a, .tabs.info dd.active, .tabs.info li.active, #object-nav ul li.selected, #object-nav ul li.current {
    border-bottom: 2px solid #743349;
}

.tabs.info dd.active a:after, #object-nav ul li.current a:after, #object-nav ul li.selected a:after {
    border-top: 5px solid #743349;
}

div.item-list-tabs li#members-all.selected, div.item-list-tabs li#members-personal.selected, .section-members .item-options .selected {
    border-bottom: 3px solid #743349;
}

div.item-list-tabs li#members-all.selected:after, div.item-list-tabs li#members-personal.selected:after, .section-members .item-options .selected:after {
    border-top: 5px solid #743349
}

.button, ul.sub-nav li.current a, .item-list-tabs ul.sub-nav li.selected a, #subnav ul li.current a, .wpcf7-submit, #rtmedia-add-media-button-post-update, #rt_media_comment_submit, .rtmedia-container input[type="submit"] {
    border: 1px solid #743349;
    background: #743349;
    color: #ffffff;
}

.button:hover, .button:focus, .form-search .button, .form-search .button:hover, .form-search .button:focus, .wpcf7-submit:focus, .wpcf7-submit:hover, #rtmedia-add-media-button-post-update:hover, #rt_media_comment_submit:hover, .rtmedia-container input[type="submit"]:hover {
    color: #ffffff;
    background-color: #92425d;
    border: 1px solid #92425d;
}

.button.secondary, .button.dropdown.split.secondary > a, #messages_search_submit, #rtmedia-whts-new-upload-button, #rtMedia-upload-button, #rtmedia_create_new_album, #rtmedia-nav-item-albums-li a, #rtmedia-nav-item-photo-profile-1-li a, #rtmedia-nav-item-video-profile-1-li a, #rtmedia-nav-item-music-profile-1-li a, .bp-member-dir-buttons div.generic-button a.add, .bp-member-dir-buttons div.generic-button a.remove {
    background-color: #E6E6E6;
    color: #1D1D1D;
    border: 1px solid #E6E6E6;
}

.button.secondary:hover, .button.secondary:focus, .button.dropdown.split.secondary > a:hover, .button.dropdown.split.secondary > a:focus, #messages_search_submit:hover, #messages_search_submit:focus, #rtmedia-whts-new-upload-button:hover, #rtMedia-upload-button:hover, #rtmedia_create_new_album:hover, #rtmedia-nav-item-albums-li a:hover, #rtmedia-nav-item-photo-profile-1-li a:hover, #rtmedia-nav-item-video-profile-1-li a:hover, #rtmedia-nav-item-music-profile-1-li a:hover, .bp-member-dir-buttons div.generic-button a.add:hover, .bp-member-dir-buttons div.generic-button a.remove:hover {
    background-color: #DDDCDC;
    border: 1px solid #DDDCDC;
    color: #1D1D1D;
}

.btn-profile .button.dropdown > ul, .button.dropdown.split.secondary > span {
    background: #E6E6E6;
}

.button.dropdown.split.secondary > span:hover, .button.dropdown.split.secondary > span:focus {
    background-color: #DDDCDC;
    color: #1D1D1D;
}

#header .btn-profile a:not(.button) {
    color: #1D1D1D;
}

#header .btn-profile .button.dropdown > ul li:hover a:not(.button), #header .btn-profile .button.dropdown > ul li:focus a:not(.button) {
    background-color: #DDDCDC;
    color: #1D1D1D;
}

.button.bordered {
    background-color: #fff;
    border: 1px solid #E6E6E6;
    color: #1D1D1D;
}

.button.bordered:hover, .button.bordered:focus {
    background-color: #DDDCDC;
    border: 1px solid #DDDCDC;
    color: #1D1D1D;
}

div#profile {
    background-color: #FAFAFA;
    background-image: url("");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

#profile, #profile h2, #profile span {
    color: #ffffff;
}

#profile .cite a, #profile .regulartab a, #profile .btn-carousel a {
    color: #ffffff;
}

#profile .cite a:hover, #profile .cite a:focus, #profile .regulartab a:hover, #profile .regulartab a:focus, .callout .bp-profile-details:before {
    color: #743349;
}

#profile .tabs.pill.custom dd.active a, #profile .pmpro_label {
    background: #743349
}

#profile:after {
    border-color: #FAFAFA transparent transparent transparent;
}

#item-header-avatar img, .mySlider img {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

#profile .generic-button a, .tabs.pill.custom dd:not(.active) a, #profile .callout, .regulartab dt, .regulartab dd {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

#profile hr {
    border-color: rgba(255, 255, 255, 0.1);
}

.rtmedia-container.rtmedia-single-container .row .rtmedia-single-meta button, .rtmedia-single-container.rtmedia-activity-container .row .rtmedia-single-meta button, .rtmedia-item-actions input[type=submit] {
    border: 1px solid #743349;
    background: #743349;
    color: #ffffff;
}

.rtmedia-container.rtmedia-single-container .row .rtmedia-single-meta button:hover, .rtmedia-single-container.rtmedia-activity-container .row .rtmedia-single-meta button:hover, .rtmedia-item-actions input[type=submit]:hover {
    color: #ffffff;
    background-color: #92425d;
    border: 1px solid #92425d;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range, .woocommerce span.onsale, .woocommerce-page span.onsale {
    background: #743349;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    border: 1px solid #743349;
    background: #92425d
}

.woocommerce .widget_layered_nav_filters ul li a, .woocommerce-page .widget_layered_nav_filters ul li a {
    border: 1px solid #743349;
    background-color: #743349;
    color: #ffffff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after {
    border-top: 5px solid #743349
}

.woocommerce #main ul.products li a.view_details_button:not(.button), .woocommerce ul.products li .add_to_cart_button:before, .woocommerce ul.products li .product_type_grouped:before, .woocommerce ul.products li .add_to_cart_button.added:before, .woocommerce ul.products li .add_to_cart_button.loading:before, .woocommerce ul.products li .product_type_external:before, .woocommerce ul.products li .product_type_variable:before, .woocommerce ul.products li .add_to_cart_button.loading, .woocommerce ul.products li .add_to_cart_button, .woocommerce ul.products li .product_type_grouped, .woocommerce ul.products li .view_details_button, .woocommerce ul.products li .product_type_external, .woocommerce ul.products li .product_type_variable {
    color: #743349
}

.woocommerce ul.products li .add_to_cart_button:hover:before, .woocommerce ul.products li .product_type_grouped:hover:before, .woocommerce ul.products li .view_details_button:hover:before, .woocommerce ul.products li .product_type_external:hover:before, .woocommerce ul.products li .product_type_variable:hover:before {
    color: #ffffff;
}

.woocommerce ul.products li .add_to_cart_button:hover, .woocommerce ul.products li .product_type_grouped:hover, .woocommerce ul.products li .view_details_button:hover, .woocommerce ul.products li .product_type_external:hover, .woocommerce ul.products li .product_type_variable:hover {
    color: #ffffff;
    background-color: #92425d
}

@media only screen and (max-width: 940px) {
    .top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active, .top-bar ul > li:not(.name):focus {
        background: #92425d;
    }

    .top-bar {
        background: #743349;
    }

    .top-bar > ul .name h1 a {
        background: #92425d;
    }

    .top-bar ul > li.has-dropdown.moved > .dropdown li a:hover {
        background: #92425d;
        display: block;
    }

    .top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a li a:hover, .top-bar ul > li.toggle-topbar {
        background: #92425d;
    }
}

#header {
    background-color: transparent;
    background-image: url("../images/header_image_bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain
}

@media only screen and (max-width: 767px) {
    #header {
        background-image: none;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

@media screen and ( max-width: 782px ) {
    .adminbar-enable .sticky.fixed {
        margin-top: 46px;
    }
}

.top-links {
    border-bottom: none;
}

#profile:after {
    border: none;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}